<template lang="html">
  <section class="agregar-heroe">
    <table class="tableHeroe">
      <tr>
        <td><label>NOMBRE</label></td>
        <td> <input v-model="nombre" type="text" class="cssinput" /> </td>
      </tr>
      <tr>
        <td><label >PODERES</label></td>
        <td> <input v-model="poderes" type="text" class="cssinput" /> </td>
      </tr>
      <tr>
        <td><label>URL FOTO</label></td>
        <td> <input v-model="url" type="text" class="cssinput" /> </td>
      </tr>
      <tr>
        <td size="12"><button @click=guardar(nombre,poderes,url) class="btonagregar">GUARDAR</button></td>
      </tr>
    </table>
   <!--  <label >{{heroes}}</label> -->
  </section>
</template>

<script lang="js">

  export default  {
    name: 'agregar-heroe',
    props: ["heroes"],
    mounted () {

    },
    data () {
      return {
        nombre:'',
        poderes:'',
        url:'',
        autoincrement:1,
         tempheroe:[]

      }
    },
    methods: {
      guardar(nombre,poderes,url){
       this.tempheroe=
        {
        id:this.autoincrement+1,
        nombre: nombre,
        poderes: poderes,
        urlfoto:url
      }
      this.autoincrement++
      this.$emit('add',this.tempheroe);
      }

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
.agregar-heroe {
  .tableHeroe {
    margin-left:auto;
    margin-right:5%;
    text-align:center;
  }
}
</style>
