<template lang="html">

  <section class="buscador-test">
    <input v-model="inputbuscar" placeholder="BUSCAR POR PODER" class="inputbuscador">
    <button  @click=buscar(inputbuscar) class="btonagregar" >Buscar</button>
  </section>

</template>

<script lang="js">

  export default  {
    name: 'buscador-test',
    props: ["heroes"],
    mounted () {

    },
    data () {
      return {
        inputbuscar:''
      }
    },
    methods: {
      buscar(inputbuscar){
        this.$emit('buscar',inputbuscar);
      }
    }
}


</script>

<style scoped lang="scss">
  .buscador-test {
    text-aling:left;
 .inputbuscador{
      text-align:left;
      padding-left:10%;
    }
  }
</style>
