<template lang="html">
  <section class="listado-heroes-test">
    <h1>Listado Component</h1>
    <div class="row" border="1px">
      <div v-for="heroe in heroes" :key="heroe.nombre"  class="col-md-4" >
      <label class="labels">Nombre: {{heroe.nombre}}</label>
      <br>
      <label>Poder: {{heroe.poderes}}</label>
      <br>
      <img :src="heroe.urlfoto" class="imgh">
      <br>
      <button style="color:red" @click=(eliminarHeroe(heroe.id))>Eliminar</button>
      </div>
    </div>
    </section>
</template>

<script lang="js">

  export default  {
    name: 'listado-heroes-test',
    props: ["heroes"],
    mounted () {

    },
    data () {
      return this.heroes;
    },
    methods: {
      eliminarHeroe(id){
        this.$emit('eliminar',id);
      },
    },
    computed: {
    }
}
</script>

<style scoped lang="scss">
.listado-heroes-test {
  .imgh{
    width: 5cm;
  }
  .labels{
    padding-right: 2%;
  }
}
</style>
