<template lang="html">

  <section class="smart-test">
    <h1 class="titulo" s>Tour de heroes ({{heroes.length}})</h1>
  </section>

</template>

<script lang="js">

export default {
  name: 'smart-test',
  props: ["heroes"],
  mounted() {

  },
  data() {
    return {
      /*    heroes:'heroes actuales' */

    }
  },
  methods: {

  },
  computed: {

  }
}


</script>

<style scoped lang="scss">
.smart-test {
  .titulo {
    text-align: left;
    padding-left: 10%;
    color:#38A1F3;
  }
}
</style>
