<template>
  <SmartTest :heroes='heroes' />
  <BuscadorTest :heroes='heroes' @buscar="buscarH" />
  <br>
  <button @click=mostraragre() class="btonagregar">AGREGAR HEROE</button>
  <AgregarHeroe v-if="mostraragregar" :heroes='heroes' @add="agregarHeroe1" />
  <ListadoHeroesTest :heroes='filtrarheroe' @eliminar="eliminarheroe"/>
</template>

<script>
import SmartTest from "./components/SmartTest.vue";
import BuscadorTest from "./components/BuscadorTest.vue";
import ListadoHeroesTest from "./components/ListadoHeroesTest.vue";
import AgregarHeroe from "./components/AgregarHeroe.vue";

export default {
  name: "App",
  data() {

    return {
      heroes: [{
        id: 0,
        nombre: 'Hercules',
        poderes: 'Fuerza',
        urlfoto: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-eBOcU14TYyUdTkD-Xe8XEMaXizwXz-F1IA&usqp=CAU'
      },
      {
        id: 1,
        nombre: 'Batman',
        poderes: 'Camuflaje',
        urlfoto: 'https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2022/03/batman.jpg?fit=2500%2C1595&quality=50&strip=all&ssl=1'
      }],
      busqueda: '',
      mostraragregar : false
    };
  },
  methods: {
    agregarHeroe1(data) {
      this.heroes.push(data);
    },
    buscarH(input) {
      this.busqueda =input;
    },
    eliminarheroe(id){
       const iindex = this.heroes.findIndex(heroe => heroe.id === id);
       this.heroes.splice(iindex,1);
    },
    mostraragre(){
      this.mostraragregar = !this.mostraragregar;
    }

  },
  computed: {
    filtrarheroe: function () {
      if (this.busqueda != '') {
        let obj = this.heroes.filter(heroe => heroe.poderes.toLowerCase() == this.busqueda.toLowerCase());
        return obj;
      } else {
        return this.heroes;
      }
    }
  },
  components: {
    SmartTest,
    BuscadorTest,
    ListadoHeroesTest,
    AgregarHeroe,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.btonagregar{
  background-image: -webkit-linear-gradient(top, gray, #2079b0);
  background-image: -moz-linear-gradient(top, gray, #2079b0);
  background-image: -ms-linear-gradient(top, gray, #2079b0);
  background-image: -o-linear-gradient(top, gray, #2079b0);
  background-image: linear-gradient(to bottom, gray, #2079b0);
}
.cssinput{
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  width: 90%;
  display: block;
  transition: all 0.3s;
  }
</style>
