<template>
  <SmartTest :heroes='heroes' />
  <BuscadorTest :heroes='heroes' @buscar="buscarH" />
  <br>
  <button @click=mostraragre()>AGREGAR HEROE</button>
  <AgregarHeroe v-if="mostraragregar" :heroes='heroes' @add="agregarHeroe1" />
  <ListadoHeroesTest :heroes='filtrarheroe' @eliminar="eliminarheroe"/>
</template>

<script>
import SmartTest from "./components/SmartTest.vue";
import BuscadorTest from "./components/BuscadorTest.vue";
import ListadoHeroesTest from "./components/ListadoHeroesTest.vue";
import AgregarHeroe from "./components/AgregarHeroe.vue";

export default {
  name: "App",
  data() {

    return {
      heroes: [{
        id: 1,
        nombre: 'Hercules',
        poderes: 'Fuerza',
        urlfoto: 'https://static.wikia.nocookie.net/disney/images/8/85/Profile_-_Hercules.jpg/revision/latest/scale-to-width-down/350?cb=20200330212414&path-prefix=es'
      },
      {
        id: 2,
        nombre: 'Batman',
        poderes: 'Camuflaje',
        urlfoto: 'https://static.wikia.nocookie.net/disney/images/8/85/Profile_-_Hercules.jpg/revision/latest/scale-to-width-down/350?cb=20200330212414&path-prefix=es'
      }],
      busqueda: '',
      mostraragregar : false
    };
  },
  methods: {
    agregarHeroe1(data) {
      this.heroes.push(data);
    },
    buscarH(input) {
      this.busqueda =input;
    },
    eliminarheroe(id){
       const iindex = this.heroes.findIndex(heroe => heroe.id === id);
       this.heroes.splice(iindex,1);
       console.log(this.heroes);

    },
    mostraragre(){
      this.mostraragregar = !this.mostraragregar;
    }

  },
  computed: {
    filtrarheroe: function () {
      if (this.busqueda != '') {
        let obj = this.heroes.filter(heroe => heroe.poderes === this.busqueda);
        return obj;
      } else {
        return this.heroes;
      }
    }
  },
  components: {
    SmartTest,
    BuscadorTest,
    ListadoHeroesTest,
    AgregarHeroe,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
